@use "bulma/sass" as bulma;

// Svg icons
svg {
  fill: currentColor;
  stroke: currentColor;
}

.is-fullheight {
  height: 100%;
}

// Cell children should take all the height
.cell > div {
  height: 100%;
}

@each $name, $color in bulma.$colors {
  .has-text-#{$name} svg {
    fill: currentColor;
    stroke: currentColor;
  }
}
